@using System.Web.UI.WebControls
@using IdAuthority.Models
@using IdAuthority.Models.Search
@using Microsoft.AspNet.Facebook.Models
@model MyAppUser
@{
    ViewBag.Title = "Home Page";
}
<script src="@Url.Content("~/Scripts/ApplicationScripts/AjaxCalls.js")"></script>

<@*article class="intro">
    <span id="profilePicture">
        @if (Model.ProfilePicture != null && Model.ProfilePicture.Data != null)
        {
            <img src="@Model.ProfilePicture.Data.Url" />
        }
    </span>
    <h3>Welcome @Model.Name</h3>
    <label>Email: @Model.Email</label>
</article>*@


<article>
    @using (Html.BeginForm("Index", "Expertise"))
    {
        <button class="btn btn-primary" id="btnFeito" onclick="submit()" title="Buscar">Cadastrar Expertise</button>
    }
</article>

<article>
    @using (Html.BeginForm("Index", "AutoridadeCognitiva"))
    {
        <button class="btn btn-primary" id="btnFeito" onclick="submit()" title="Buscar">Buscar Autoridade Cognitiva</button>
    }
</article>